<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    شاخگرام
</font>
</h1>

<br>
<div dir=rtl id="start" style="direction:rtl;line-height:200%;">
	<font face="vazir" size=4>
در درسنامه‌های پیشین با داده‌ساختارهای پرکاربرد در pandas آشنا شدیم. در این تمرین، قصد داریم انتخاب داده از یک دیتافریم را بیشتر تمرین کنیم.
دیتاستی که برای این تمرین در دست داریم، مجموعه داده‌هایی از شاخگرام است!
شاخگرام شبکه اجتماعی برای شاخ شدن است. یعنی افراد در آن تلاش می‌کنند شاخ شوند.
شاخ‌ها در شاخگرام دارای سطوح مختلفی هستند و هر سطح از شاخ بودن، شرایط مخصوص به خود را دارد. هدف از این تمرین اجرای Queryهای مختلف روی دیتاست اصلی است تا شاخ‌های هر سطح را پیدا کنیم.
    </font>
</div>

In [25]:
import pandas as pd 
import numpy as np
import joblib

<br>
<div dir=rtl id="start" style="direction:rtl;line-height:200%;">
	<font face="vazir" size=4>
        برای بارگیری دیتافریم از حافظه تنها کافیست سلول زیر را اجرا کنید!
        <br>
        روشی که در سلول زیر برای بارگیری دیتاست از حافظه استفاده شده‌است، مرسوم نیست
       و در درسنامه «بارگیری و ذخیره‌سازی» بیشتر با روش‌های خواندن و ذخیره کردن دیتاست‌ها در فایل آشنا می‌شویم؛
          پس لطفا فعلا در این تمرین بپذیرید که به شکل زیر دیتاست را در اختیارتان قرار دهیم.
        <br>  
        دیتافریم شبکه‌ی اجتماعی شاخگرام، شامل ستون‌های زیر است:
    </font>
</div>
<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<table dir=rtl align = center>
<tr>
<th><font face="vazir" size=3>نام ستون</font></th>
<th><font face="vazir" size=3>توضیح</font></th>
</tr>
<tr>
<td><font face="vazir" size=3>owner_name</font></td>
<td><font face="vazir" size=3>اسم صاحب پیج</font></td>
</tr>
<tr>
<td><font face="vazir" size=3>follower</font></td>
<td><font face="vazir" size=3>تعداد دنبال‌کنندگان پیج</font></td>
</tr>
<tr>
<td><font face="vazir" size=3>following</font></td>
<td><font face="vazir" size=3>تعداد دنبال‌شوندگان توسط پیج</font></td>
</tr>
<tr>
<td><font face="vazir" size=3>post_number</font></td>
<td><font face="vazir" size=3>تعداد پست‌های پیج</font></td>
</tr>
</table>
</p>

In [26]:
df = joblib.load('./df')

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    مشاهده‌ی داده‌ها
    </font>
</h2>

<br>
<div dir=rtl id="start" style="direction:rtl;line-height:200%;">
	<font face="vazir" size=4>
        با اجرای سلول زیر شمای کلی دیتاست را مشاهده کنید.
        <br>
        پیشنهاد می‌کنیم سعی کنید ستون‌ها و سطرهای مختلفی از دیتافریم را انتخاب کنید تا علاوه بر اینکه با دیتاست بیشتر آشنا می‌شوید، برای پیاده‌سازی جواب سوال نیز آماده شوید!
</div>

In [27]:
df.head()

          owner_name   follower  following  post_number
0  Muhammad Schaefer  108751787         45           61
1          Ezra Kemp  172731383         71           43
2           Eli Good  105194939         20           44
3   Lillianna Pruitt   14807976         11           88
4    Carlie Woodward  228517005         68           52

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت اول
    </font>
</h2>

<br>
<div dir=rtl id="start" style="direction:rtl;line-height:200%;">
	<font face="vazir" size=4>
        در این شبکه اجتماعی، ۵ دسته از شاخ‌بودن وجود دارد. برای اینکه عضو هر دسته باشیم، می‌بایست پیج و اسم ما شرایط خاصی داشته باشد.
        <br>
        اولین دسته‌ی شاخ‌های شاخگرام، شاخ‌های برنجی هستند؛ شاخ‌های برنجی،  افرادی هستند که تعداد افرادی که توسط پیج دنبال می‌شوند (following) <b>از ۱۱ کمتر</b> باشد.
        <br>
        در سلول زیر، بخشی از دیتافریم اصلی را که شرایط شاخ‌های برنجی دارند را، در متغیر <code>berenji_df</code>،
        جدا و ذخیره کنید.
    </font>
</div>

In [28]:
berenji_df = df[df.following < 11]
berenji_df

        owner_name   follower  following  post_number
55  Dexter Salazar  265575683         10           54
71     Eden Walter   50414607         10           82

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت دوم
    </font>
</h2>

<br>
<div dir=rtl id="start" style="direction:rtl;line-height:200%;">
	<font face="vazir" size=4>
        در متغیر <code>mesi_df</code>، شاخ‌های مسی را ذخیره کنید؛ شاخ‌های مسی، افرادی هستند که تعداد پست‌های پیجشان از تعداد افرادی که آن پیج دنبالشان می‌کند (following) بیشتر باشد.
    </font>
</div>

In [29]:
mesi_df = df[df.post_number > df.following]
mesi_df

            owner_name   follower  following  post_number
0    Muhammad Schaefer  108751787         45           61
2             Eli Good  105194939         20           44
3     Lillianna Pruitt   14807976         11           88
6      Abbey Patterson  117816608         65           98
8        Teagan Newman  145440825         39           85
9     Bianca Velazquez  184433225         72           91
10         Emely Olsen  197123487         43           58
12       Ivan Randolph  233996265         31           45
13      Priscilla Shea   23888252         69           72
14         Ryan Berger  107802883         85           91
16      Kira Castaneda  246047852         12           63
17   Kadence Henderson   77927317         53           57
18      Timothy Fowler  224887843         50           73
19      Precious Ramos   48236154         34           76
24     Charles Morales  222955873         12           38
27    Hailee Armstrong  313687859         55           94
29     Gabriel Calhoun  132769603         16           58
39      Harper Hensley  224837846         57           59
40         Alexia Moss  314936599         17           48
41        Boston Stout  293331811         13           56
43        Khalil Bryan  279582669         48           84
44      Jakobe Schultz  136273816         34           82
47       Zachery Keith   34037577         47           49
49  Yasmine Hutchinson  181380421         13           98
50        Marlee Moyer  224912384         36           95
52        Mylie Prince  172675476         18           43
54    Esmeralda Henson  240302137         65           96
55      Dexter Salazar  265575683         10           54
56         Jamie Oneal  252094671         12           41
59        Corey Hansen   10389852         28           63
62      Lilah Whitaker   95378667         31           49
64       Britney James  161446658         41           93
71         Eden Walter   50414607         10           82
78          Kian Hanna   79265883         21           24
79      Claire Salinas  239596097         49           66
81          Harper Day  151388804         34           59
82         Hope Becker   68662078         28           83
86       Nasir Mcgrath  107737269         12           99
87       Blaine Greene   17519059         83           88
88        Janet Knight  137375221         18           26
89        Lana Hensley  151213150         49           80
90     Destiney Orozco  250085334         61           72
92      Leslie Salinas  276001851         65           89
94      Reyna Copeland  214443881         44           89
99          Ezra Booth  296470673         49           89

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت سوم
    </font>
</h2>

<br>
<div dir=rtl id="start" style="direction:rtl;line-height:200%;">
	<font face="vazir" size=4>
        در متغیر <code>boronzi_df</code>، شاخ‌های برنزی را ذخیره کنید؛
شاخ‌های برنزی، افرادی هستند که تعداد دنبال‌کنندگان پیجشان بیشتر از یک میلیون نفر باشد.
    </font>
</div>

In [30]:
boronzi_df = df[df.follower > 1000000]
boronzi_df

           owner_name   follower  following  post_number
0   Muhammad Schaefer  108751787         45           61
1           Ezra Kemp  172731383         71           43
2            Eli Good  105194939         20           44
3    Lillianna Pruitt   14807976         11           88
4     Carlie Woodward  228517005         68           52
..                ...        ...        ...          ...
95      Alaina Cortez  206571647         83           82
96         Aiyana Orr  246069137         85           44
97        Damien Mack  175172516         84           58
98    Santino Shelton  103682240         86           71
99         Ezra Booth  296470673         49           89

[100 rows x 4 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت چهارم
    </font>
</h2>

<br>
<div dir=rtl id="start" style="direction:rtl;line-height:200%;">
	<font face="vazir" size=4>
        در متغیر <code>noghreyee_df</code>، شاخ‌های نقره‌ای را ذخیره کنید؛
شاخ‌های نقره‌ای، افرادی هستند که دو شرط زیر را همزمان داشته باشند:
   <br>
        شرط اول : تعداد دنبال‌کنندگان پیجشان بیشتر‌ مساوی ده میلیون باشد.
        <br>
شرط دوم : تعداد دنبال‌شوندگان توسط پیج کمتر از ۵۰ باشد.
    </font>
</div>

In [31]:
noghreyee_df = df[(df.follower >= 10000000) & (df.following < 50)]
noghreyee_df

            owner_name   follower  following  post_number
0    Muhammad Schaefer  108751787         45           61
2             Eli Good  105194939         20           44
3     Lillianna Pruitt   14807976         11           88
8        Teagan Newman  145440825         39           85
10         Emely Olsen  197123487         43           58
12       Ivan Randolph  233996265         31           45
16      Kira Castaneda  246047852         12           63
19      Precious Ramos   48236154         34           76
24     Charles Morales  222955873         12           38
29     Gabriel Calhoun  132769603         16           58
31          Ivy Fields  234324677         49           22
32        Jaime Stuart   71774373         48           44
36     Demarion Suarez   63641416         12           11
40         Alexia Moss  314936599         17           48
41        Boston Stout  293331811         13           56
42    Chasity Cisneros  303490848         48           36
43        Khalil Bryan  279582669         48           84
44      Jakobe Schultz  136273816         34           82
47       Zachery Keith   34037577         47           49
49  Yasmine Hutchinson  181380421         13           98
50        Marlee Moyer  224912384         36           95
52        Mylie Prince  172675476         18           43
53         Raven Stone   82717282         48           16
55      Dexter Salazar  265575683         10           54
56         Jamie Oneal  252094671         12           41
59        Corey Hansen   10389852         28           63
60     Audrina Nichols  319228713         41           15
62      Lilah Whitaker   95378667         31           49
64       Britney James  161446658         41           93
71         Eden Walter   50414607         10           82
78          Kian Hanna   79265883         21           24
79      Claire Salinas  239596097         49           66
81          Harper Day  151388804         34           59
82         Hope Becker   68662078         28           83
83      Cameron Murphy  281439342         22           17
86       Nasir Mcgrath  107737269         12           99
88        Janet Knight  137375221         18           26
89        Lana Hensley  151213150         49           80
94      Reyna Copeland  214443881         44           89
99          Ezra Booth  296470673         49           89

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت پنجم
    </font>
</h2>

<br>
<div dir=rtl id="start" style="direction:rtl;line-height:200%;">
	<font face="vazir" size=4>
        در متغیر <code>talayee_df</code>، شاخ‌های طلایی را ذخیره کنید؛
شاخ‌های طلایی افرادی هستند که حداقل یکی از دو شرط زیر را داشته باشند (یعنی شرط اول یا شرط دوم)
        <br>
1. تعداد دنبال‌کنندگان (follower) بزرگتر از ده میلیون و تعداد دنبال شوندگان (following) کمتر از ۲۰ نفر باشد.
<br>
2.         تعداد پست‌ها کمتر از ۱۵ و حرف Rدر اسم صاحب پیج وجود داشته باشد (مثل BooAzaR!).
    </font>
</div>

In [32]:
talayee_df = df[((df.follower > 10000000) & (df.following < 20)) | ((df.post_number < 15) & (df.owner_name.str.contains("R")))]
talayee_df

            owner_name   follower  following  post_number
3     Lillianna Pruitt   14807976         11           88
15          Hayden Roy  248522613         79           11
16      Kira Castaneda  246047852         12           63
24     Charles Morales  222955873         12           38
29     Gabriel Calhoun  132769603         16           58
36     Demarion Suarez   63641416         12           11
40         Alexia Moss  314936599         17           48
41        Boston Stout  293331811         13           56
49  Yasmine Hutchinson  181380421         13           98
52        Mylie Prince  172675476         18           43
55      Dexter Salazar  265575683         10           54
56         Jamie Oneal  252094671         12           41
71         Eden Walter   50414607         10           82
86       Nasir Mcgrath  107737269         12           99
88        Janet Knight  137375221         18           26

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

In [33]:
import zlib
import zipfile


def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)


berenji_df.to_csv('berenji.csv',index = True)
mesi_df.to_csv('mesi.csv',index = True)
boronzi_df.to_csv("boronzi.csv", index = True)
noghreyee_df.to_csv("noghreyee.csv", index = True)
talayee_df.to_csv("talayee.csv", index = True)


file_names = ["berenji.csv", "shakhgram.ipynb","mesi.csv","boronzi.csv", "noghreyee.csv", "talayee.csv"]
compress(file_names)

File Paths:
['berenji.csv', 'shakhgram.ipynb', 'mesi.csv', 'boronzi.csv', 'noghreyee.csv', 'talayee.csv']