<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
سری زمانی:‌استفاده از پانداس
</font>
</h1>

In [1]:
import pandas as pd 
import numpy as np
from datetime import datetime

<h2 align=right style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 سری‌های زمانی در دیتاسری
</font>
</h2>

In [2]:
times = [datetime(2020,9,10, 8,20), datetime(2020,10,13, 12,30), datetime(2020,11,16, 14,50), \
         datetime(2020,12,19, 17,22), datetime(2021,1,21, 19,25), datetime(2021,2,23, 20,45), \
         datetime(2021,3,25, 21,0), datetime(2021,4,27, 21,15), datetime(2021,5,29, 22,35), datetime(2021,6,30, 23,59)]

count_of_patients = [20, 15, 17, 12, 21, 25, 25, 19, 18, 14]
ts = pd.Series(count_of_patients, index = times)
ts

2020-09-10 08:20:00    20
2020-10-13 12:30:00    15
2020-11-16 14:50:00    17
2020-12-19 17:22:00    12
2021-01-21 19:25:00    21
2021-02-23 20:45:00    25
2021-03-25 21:00:00    25
2021-04-27 21:15:00    19
2021-05-29 22:35:00    18
2021-06-30 23:59:00    14
dtype: int64

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>    
        با سلول زیر، المان‌هایی از سری را انتخاب کرده‌ایم که تاریخشان برابر 10-9-2020 باشد.
</font>
</p>

In [3]:
ts['2020-9-10']

2020-09-10 08:20:00    20
dtype: int64

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>    
        با سلول زیر، المان‌هایی از سری را انتخاب کرده‌ایم که سالشان برابر 2020 باشد.
</font>
</p>

In [4]:
ts['2020']

2020-09-10 08:20:00    20
2020-10-13 12:30:00    15
2020-11-16 14:50:00    17
2020-12-19 17:22:00    12
dtype: int64

<div dir=rtl id="start" style="direction:rtl;line-height:200%;">
	<font face="vazir" size=3>
        در سلول زیر، با استفاده از نمایه‌های یک دیتاسری که از جنس datetime هستند، المان‌هایی را انتخاب کردیم که بین تاریخ <code>01-01-2021</code> تا <code>30-04-2021</code> باشد. 
    </font>
</div>

In [5]:
ts['2021-01-01': '2021-04-30']

2021-01-21 19:25:00    21
2021-02-23 20:45:00    25
2021-03-25 21:00:00    25
2021-04-27 21:15:00    19
dtype: int64

<h2 align=right style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 سری‌های زمانی در دیتافریم
</font>
</h2>

In [7]:
times = ['2020-9-10 8:20', '2020-10-13 12:30', '2020-11-16 14:50', \
         '2020-12-19 17:22', '2021-1-21 19:25', '2021-2-23 20:45', \
         '2021-3-25 21:0', '2021-4-27 21:15', '2021-5-29 22:35', '2021-6-30 23:59']

count_of_patients = [20, 15, 17, 12, 21, 25, 25, 19, 18, 14]

df = pd.DataFrame()
df['time'] = pd.to_datetime(times)
df['#patients'] = count_of_patients

df

                 time  #patients
0 2020-09-10 08:20:00         20
1 2020-10-13 12:30:00         15
2 2020-11-16 14:50:00         17
3 2020-12-19 17:22:00         12
4 2021-01-21 19:25:00         21
5 2021-02-23 20:45:00         25
6 2021-03-25 21:00:00         25
7 2021-04-27 21:15:00         19
8 2021-05-29 22:35:00         18
9 2021-06-30 23:59:00         14

In [8]:
df[ df.time > '2020-12-15']

                 time  #patients
3 2020-12-19 17:22:00         12
4 2021-01-21 19:25:00         21
5 2021-02-23 20:45:00         25
6 2021-03-25 21:00:00         25
7 2021-04-27 21:15:00         19
8 2021-05-29 22:35:00         18
9 2021-06-30 23:59:00         14

In [9]:
df[ df.time > '2021-3']

                 time  #patients
6 2021-03-25 21:00:00         25
7 2021-04-27 21:15:00         19
8 2021-05-29 22:35:00         18
9 2021-06-30 23:59:00         14

In [10]:
df[ df.time > '2021']

                 time  #patients
4 2021-01-21 19:25:00         21
5 2021-02-23 20:45:00         25
6 2021-03-25 21:00:00         25
7 2021-04-27 21:15:00         19
8 2021-05-29 22:35:00         18
9 2021-06-30 23:59:00         14

<h2 align=right style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 استفاده از ویژگی dt
</font>
</h2>

In [11]:
df.time.dt.date

0    2020-09-10
1    2020-10-13
2    2020-11-16
3    2020-12-19
4    2021-01-21
5    2021-02-23
6    2021-03-25
7    2021-04-27
8    2021-05-29
9    2021-06-30
Name: time, dtype: object

In [12]:
df.time.dt.month

0     9
1    10
2    11
3    12
4     1
5     2
6     3
7     4
8     5
9     6
Name: time, dtype: int64

In [13]:
df.time.dt.day_name()

0     Thursday
1      Tuesday
2       Monday
3     Saturday
4     Thursday
5      Tuesday
6     Thursday
7      Tuesday
8     Saturday
9    Wednesday
Name: time, dtype: object

In [14]:
df.time.dt.day_of_year

0    254
1    287
2    321
3    354
4     21
5     54
6     84
7    117
8    149
9    181
Name: time, dtype: int64

<h2 align=right style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 انتخاب شرطی پیشرفته به کمک ویژگی dt
</font>
</h2>

In [15]:
from datetime import time
df[df.time.dt.time > time(22, 30)]

                 time  #patients
8 2021-05-29 22:35:00         18
9 2021-06-30 23:59:00         14